<header>
    <!-- Encabezado -->
    <mat-toolbar class="mattoolbar0" color="warn" fxLayout="row" fxLayoutAlign="start center">
      <!-- Logo y título -->
      <div class="user-avatar-container">
        <img class="user-avatar" src="favicon.ico" alt="User Avatar" />
        <span class="header-title title-font">Mike template</span>
      </div>
      <button mat-icon-button (click)="onToggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- Espaciador flexible -->
      <span fxFlex></span> <!-- Se expande para ocupar todo el espacio disponible -->
  
      <!-- Enlaces de navegación -->
      <button mat-button>
        <mat-icon>mail</mat-icon>
        <span class="icon-text">Mensajes</span>
      </button>
      <button mat-button>
        <mat-icon>contact_phone</mat-icon>
        <span class="icon-text">Contactos</span>
      </button>
      <button mat-button>
        <mat-icon>facebook</mat-icon>
        <span class="icon-text">Facebook</span>
      </button>
      <span fxFlex></span> <!-- Espaciador flexible adicional -->
  
      <!-- Logout -->
      <button mat-button class="ml-5">
        <mat-icon>exit_to_app</mat-icon>
        <span class="icon-text">Logout</span>
      </button>
    </mat-toolbar>
  </header>
  