<mat-sidenav-container class="example-container" fullscreen>
  <mat-sidenav #sidenav mode="side" [opened]="!isCollapsed" [style.width.px]="sidebarWidth">
    <mat-nav-list class="sub-menu">
      <ng-container *ngFor="let menuItem of menuItems">
        <mat-list-item routerLinkActive="active" [routerLink]="menuItem.route" (click)="toggleSubMenu(menuItem)"  >
          <div class="sidenav-item">
            <mat-icon mat-list-icon>{{ menuItem.icon }}</mat-icon>
            <span class="menu-text">{{ menuItem.name }}</span>
          </div>
          <div *ngIf="menuItem.subItems && menuItem.subItems.length > 0" class="sub-menu"  >
            <mat-list>
              <mat-list-item *ngFor="let subMenuItem of menuItem.subItems" routerLinkActive="active"
                [routerLink]="subMenuItem.route">
                <span class="menu-text">{{ subMenuItem.name }}</span>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
