@import "~bootstrap/dist/css/bootstrap.css";
/** body **/
.dashboard-main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-sidebar-container {
  display: flex;
}

.router-outlet-container {
  flex-grow: 1;
}
.app-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
  
  .sidebar-wrapper {
    flex: 0 0 auto;
  }
  
  .content-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;
  }
  
  .example-container {
    margin-top: 40px;
    height: calc(100% - 40px);
  }
  
  .mat-sidenav-container {
    height: 100%;
  }
 
    
   
 
  
/** body **/
/** header **/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.mattoolbar0 {
  margin: 0;
}

.mat-toolbar {
  height: 45px;
  padding: 0;
  margin: 0;
}

.user-avatar {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}

header {
  overflow-x: hidden;
}

.header-title {
  margin-left: 8px;
  font-family: 'Arial', sans-serif; /* Reemplaza 'Arial' con la fuente deseada */
}

.title-font {
  font-size: 18px; /* Ajusta el tamaño de la fuente según tus necesidades */
  font-weight: bold; /* Opcional: Agrega negrita según tus necesidades */
}

.user-avatar-container {
  display: flex;
  align-items: center;
  width: 200px;
}

.user-avatar-container .user-avatar {
  margin-right: 8px;
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}

.mat-icon-button .user-avatar {
  vertical-align: middle;
}

.mat-menu-panel .mat-menu-content {
  margin-top: -8px;
}

.mat-toolbar button.mat-button.ml-5 {
  margin-left: 100px; /* Ajusta el valor en píxeles según tus necesidades */
}
/** header **/